body {
    font-family: Arial, sans-serif;
    background-color: #5f5a7d;
    margin: 0;
}

.slider-container {
    display: flex;
    justify-content: center;
    padding: 1.25rem;
}

.slider {
    width: 100%; 
    max-width: 25rem;
    overflow: hidden;
}

input[type="radio"] {
    display: none;
}

.slides {
    display: flex;
    margin-bottom: 0.75rem;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: 0.75rem; 
}

.caption {
    color: white;
    border-radius: 0.5rem;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#slide1:checked ~ .slides {
    transform: translateX(0);
}

#slide2:checked ~ .slides {
    transform: translateX(-100%);
}

#slide3:checked ~ .slides {
    transform: translateX(-200%);
}

#slide4:checked ~ .slides {
    transform: translateX(-300%);
}

.controls {
    display: flex;
    justify-content: flex-end;
}

.dot_box {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0.5rem; */
}

label {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    /* margin: 0 0.5rem; */
    box-sizing: border-box; 
    padding-top: 0.5rem;
    z-index: 9;
}

label span {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 1rem; 
    height: 1rem;
    background-color: #ccc;
    border-radius: 50%;
    margin: auto;
    box-sizing: border-box; 
}

/* Подсветка активного контрола */
input#slide1:checked ~ .controls label[for="slide1"] span,
input#slide2:checked ~ .controls label[for="slide2"] span,
input#slide3:checked ~ .controls label[for="slide3"] span,
input#slide4:checked ~ .controls label[for="slide4"] span {
    background-color: transparent;
    border: #e8dcf7 solid 0.125rem; 
    width: calc(1rem + 0.25rem); 
    height: calc(1rem + 0.25rem); 
}

label span:hover {
    background-color: rgb(224, 95, 153);
}

label span:active {
    border: #6c0745 solid 0.125rem;
}

@media (max-width: 430px) {
    .slider {
        flex-direction: column;
    }

    .controls {
        margin-bottom: 1rem;
        justify-content: center;
    }

    .caption {
        margin-top: 2.4rem;
        text-align: left;
    }
}