body {
    font-family: Arial, sans-serif;
    background-color: #5f5a7d;
    margin: 0;
}

.slider-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.slider {
    width: 100%; 
    max-width: 400px;
    overflow: hidden;
}

input[type="radio"] {
    display: none; /* Скрыть радиокнопки */
}

.slides {
    display: flex;
    margin-bottom: 10px;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Закругление изображений */
}

.caption {
    color: white;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

/* Анимация смены слайдов */
#slide1:checked ~ .slides {
    transform: translateX(0);
}

#slide2:checked ~ .slides {
    transform: translateX(-100%);
}

#slide3:checked ~ .slides {
    transform: translateX(-200%);
}

#slide4:checked ~ .slides {
    transform: translateX(-300%);
}

/* Управляющие элементы */
.controls {
    display: flex;
    justify-content: flex-end;
}

.dot_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; /* Увеличенная кликабельная область */
    height: 30px; /* Увеличенная кликабельная область */
}

.control {
    width: 15px;
    height: 15px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

/* Подсветка активного контрола */
input#slide1:checked ~ .controls label[for="slide1"] {
    background-color: transparent;
    border: #e8dcf7 solid 2px;
}

input#slide2:checked ~ .controls label[for="slide2"] {
    background-color: transparent;
    border: #e8dcf7 solid 2px;
}

input#slide3:checked ~ .controls label[for="slide3"] {
    background-color: transparent;
    border: #e8dcf7 solid 2px;
}

input#slide4:checked ~ .controls label[for="slide4"] {
    background-color: transparent;
    border: #e8dcf7 solid 2px;
}

/* Эффекты при наведении */
.control:hover {
    background-color: rgb(224, 95, 153);
}

/* Убираем изменение фона при нажатии */
.control:active {
    border: #6c0745 solid 2px;
}

@media (max-width: 430px) {
    .caption {
        text-align: center;
    }

    .controls {
        margin-top: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
